parameters:
  level: 2
  paths:
    - web/modules/custom
    - web/themes/custom
  excludePaths:
    - web/modules/custom/*/node_modules/*
    - web/themes/custom/*/node_modules/*
    - web/modules/custom/*/vendor/*
    - web/themes/custom/*/vendor/*
    - web/modules/custom/*/dist/*
    - web/themes/custom/*/dist/*
    - web/modules/custom/*/tests/fixtures/*

includes:
  - phpstan-baseline.neon
